In [109]:
#load the NHS dataset and see the basic characteristics

import pandas as pd
import numpy as np
nhs = pd.read_excel(r"Data/NHS.xlsx", na_values = ['[x]','[c]'])
print(nhs.info())
print(nhs.describe())
nhs

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48970 entries, 0 to 48969
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Geographical Code          48970 non-null  object
 1   Geographical Description   48970 non-null  object
 2   Geographical Level         48970 non-null  object
 3   ONS Code                   47495 non-null  object
 4   ASCOF Measure Code         48970 non-null  object
 5   Disaggregation Level       48970 non-null  object
 6   Measure Type               48970 non-null  object
 7   Measure Value              22407 non-null  float64
 8   Measure Group              48970 non-null  object
 9   Measure Group Description  48970 non-null  object
dtypes: float64(1), object(9)
memory usage: 3.7+ MB
None
       Measure Value
count   2.240700e+04
mean    9.892596e+03
std     2.809240e+05
min     0.000000e+00
25%     3.900000e+01
50%     1.000000e+02
75%     6.600000e+02
max     3.399283e+07

,Geographical Code,Geographical Description,Geographical Level,ONS Code,ASCOF Measure Code,Disaggregation Level,Measure Type,Measure Value,Measure Group,Measure Group Description
0,102,Cumbria,Council,E10000006,1A,Total,Denominator,NaN,1A,Social care-related quality of life
1,102,Cumbria,Council,E10000006,1A,Total,Base,NaN,1A,Social care-related quality of life
2,102,Cumbria,Council,E10000006,1A,Total,Numerator,NaN,1A,Social care-related quality of life
3,102,Cumbria,Council,E10000006,1A,Total,Outcome,NaN,1A,Social care-related quality of life
4,102,Cumbria,Council,E10000006,1A,Total,Margin Of Error,NaN,1A,Social care-related quality of life
...,...,...,...,...,...,...,...,...,...,...
48965,YH,Yorkshire and The Humber,Region,E12000003,4BM,Male,Outcome,NaN,4B,Proportion of people who use services who say ...
48966,YH,Yorkshire and The Humber,Region,E12000003,4BM,Male,Numerator,NaN,4B,Proportion of people who use services who say ...
48967,YH,Yorkshire and The Humber,Region,E12000003,4BM,Male,Margin Of Error,NaN,4B,Proportion of people who use services who say ...
48968,YH,Yorkshire and The Humber,Region,E12000003,4BM,Male,Denominator,NaN,4B,Proportion of people who use services who say ...
48969,YH,Yorkshire and The Humber,Region,E12000003,4BM,Male,Base,NaN,4B,Proportion of people who use services who say ...

In [110]:
#drop the columns we don't need

nhs.drop(['Geographical Code','ASCOF Measure Code','Measure Group'], axis=1, inplace=True)
nhs

,Geographical Description,Geographical Level,ONS Code,Disaggregation Level,Measure Type,Measure Value,Measure Group Description
0,Cumbria,Council,E10000006,Total,Denominator,NaN,Social care-related quality of life
1,Cumbria,Council,E10000006,Total,Base,NaN,Social care-related quality of life
2,Cumbria,Council,E10000006,Total,Numerator,NaN,Social care-related quality of life
3,Cumbria,Council,E10000006,Total,Outcome,NaN,Social care-related quality of life
4,Cumbria,Council,E10000006,Total,Margin Of Error,NaN,Social care-related quality of life
...,...,...,...,...,...,...,...
48965,Yorkshire and The Humber,Region,E12000003,Male,Outcome,NaN,Proportion of people who use services who say ...
48966,Yorkshire and The Humber,Region,E12000003,Male,Numerator,NaN,Proportion of people who use services who say ...
48967,Yorkshire and The Humber,Region,E12000003,Male,Margin Of Error,NaN,Proportion of people who use services who say ...
48968,Yorkshire and The Humber,Region,E12000003,Male,Denominator,NaN,Proportion of people who use services who say ...
48969,Yorkshire and The Humber,Region,E12000003,Male,Base,NaN,Proportion of people who use services who say ...

In [111]:
#drop the rows that Geographical Level is equal to Council Type
nhs.drop(nhs[nhs['Geographical Level']=='Council Type'].index, inplace=True)
nhs

,Geographical Description,Geographical Level,ONS Code,Disaggregation Level,Measure Type,Measure Value,Measure Group Description
0,Cumbria,Council,E10000006,Total,Denominator,NaN,Social care-related quality of life
1,Cumbria,Council,E10000006,Total,Base,NaN,Social care-related quality of life
2,Cumbria,Council,E10000006,Total,Numerator,NaN,Social care-related quality of life
3,Cumbria,Council,E10000006,Total,Outcome,NaN,Social care-related quality of life
4,Cumbria,Council,E10000006,Total,Margin Of Error,NaN,Social care-related quality of life
...,...,...,...,...,...,...,...
48965,Yorkshire and The Humber,Region,E12000003,Male,Outcome,NaN,Proportion of people who use services who say ...
48966,Yorkshire and The Humber,Region,E12000003,Male,Numerator,NaN,Proportion of people who use services who say ...
48967,Yorkshire and The Humber,Region,E12000003,Male,Margin Of Error,NaN,Proportion of people who use services who say ...
48968,Yorkshire and The Humber,Region,E12000003,Male,Denominator,NaN,Proportion of people who use services who say ...
48969,Yorkshire and The Humber,Region,E12000003,Male,Base,NaN,Proportion of people who use services who say ...

In [112]:
#drop the missing values from Measure Value

nhs.dropna(subset = 'Measure Value', inplace=True)
#nhs.drop(nhs[nhs['Measure Value']==0].index, inplace=True)
nhs

,Geographical Description,Geographical Level,ONS Code,Disaggregation Level,Measure Type,Measure Value,Measure Group Description
475,Kirklees,Council,E08000034,Total,Outcome,19.6,Social care-related quality of life
476,Kirklees,Council,E08000034,Total,Numerator,83160.0,Social care-related quality of life
477,Kirklees,Council,E08000034,Total,Base,430.0,Social care-related quality of life
478,Kirklees,Council,E08000034,Total,Margin Of Error,0.3,Social care-related quality of life
479,Kirklees,Council,E08000034,Total,Denominator,4235.0,Social care-related quality of life
...,...,...,...,...,...,...,...
48590,Buckinghamshire,Council,E06000060,Male,Outcome,82.5,Proportion of people who use services who say ...
48591,Buckinghamshire,Council,E06000060,Male,Numerator,1775.0,Proportion of people who use services who say ...
48592,Buckinghamshire,Council,E06000060,Male,Margin Of Error,4.6,Proportion of people who use services who say ...
48593,Buckinghamshire,Council,E06000060,Male,Denominator,2155.0,Proportion of people who use services who say ...
48594,Buckinghamshire,Council,E06000060,Male,Base,245.0,Proportion of people who use services who say ...

In [113]:
#Replace '64 and under' with '18-64' for compatibility reasons

nhs['Disaggregation Level'].replace({'64 and under':'18-64'}, inplace=True)
nhs['Disaggregation Level'].unique()

array(['Total', '18-64', '65 and over', 'Female', 'Male', '65-84',
       '85 and over', '65-74', '75-84'], dtype=object)

In [114]:
nhs.drop(nhs[~nhs['Measure Type'].isin(['Numerator','Denominator','Outcome'])].index , inplace=True)
nhs.drop(nhs[nhs['Measure Type'].isin(['Numerator','Denominator']) & nhs['Disaggregation Level'].isin(['Total','Male','Female','18-64','65 and over'])].index, inplace=True)
nhs.drop(nhs[nhs['Measure Type'].isin(['Outcome']) & ~nhs['Disaggregation Level'].isin(['Total','Male','Female','18-64','65 and over'])].index, inplace=True)
nhs

,Geographical Description,Geographical Level,ONS Code,Disaggregation Level,Measure Type,Measure Value,Measure Group Description
475,Kirklees,Council,E08000034,Total,Outcome,19.6,Social care-related quality of life
480,Kirklees,Council,E08000034,18-64,Outcome,20.0,Social care-related quality of life
485,Kirklees,Council,E08000034,65 and over,Outcome,19.4,Social care-related quality of life
491,Kirklees,Council,E08000034,Female,Outcome,19.5,Social care-related quality of life
495,Kirklees,Council,E08000034,Male,Outcome,19.8,Social care-related quality of life
...,...,...,...,...,...,...,...
48570,Buckinghamshire,Council,E06000060,Total,Outcome,86.7,Proportion of people who use services who say ...
48575,Buckinghamshire,Council,E06000060,18-64,Outcome,86.6,Proportion of people who use services who say ...
48580,Buckinghamshire,Council,E06000060,65 and over,Outcome,86.8,Proportion of people who use services who say ...
48585,Buckinghamshire,Council,E06000060,Female,Outcome,90.2,Proportion of people who use services who say ...
48590,Buckinghamshire,Council,E06000060,Male,Outcome,82.5,Proportion of people who use services who say ...

In [115]:
def calculate_outcome_manually(local_authority):
    if local_authority['Disaggregation Level'].isin(['Total','Male','Female','18-64','65 and over']).all():
        return local_authority[['Disaggregation Level','Measure Value']]
    numerator_sum = 0
    denominator_sum = 0
    outcome = {'Disaggregation Level': [], 'Measure Value': []}
    for index, item in local_authority['Disaggregation Level'].iteritems():
        if item in ['Total','Male','Female','18-64','65 and over']:
            outcome['Disaggregation Level'].append(item)
            outcome['Measure Value'].append(local_authority.loc[index,'Measure Value'])
        else:
            if local_authority.loc[index,'Measure Type'] == 'Numerator':
                numerator_sum += local_authority.loc[index,'Measure Value']
            else:
                denominator_sum += local_authority.loc[index,'Measure Value']
    outcome['Disaggregation Level'].append('65 and over')
    if denominator_sum!=0:
        outcome['Measure Value'].append(round(numerator_sum*100/denominator_sum, 2))
    else:
        outcome['Measure Value'].append(None)

    return pd.DataFrame(outcome)

nhs = nhs.groupby(['Geographical Description', 'Geographical Level','ONS Code','Measure Group Description']).apply(calculate_outcome_manually).reset_index()
nhs.dropna(subset=['Measure Value'],inplace=True)
nhs.drop(['level_4'],axis=1,inplace=True)
nhs

,Geographical Description,Geographical Level,ONS Code,Measure Group Description,Disaggregation Level,Measure Value
0,Barking and Dagenham,Council,E09000002,Adjusted Social care-related quality of life â€“...,Total,0.422
1,Barking and Dagenham,Council,E09000002,Long-term support needs of older adults aged 6...,Total,621.0
2,Barking and Dagenham,Council,E09000002,Long-term support needs of younger adults aged...,Total,6.9
3,Barking and Dagenham,Council,E09000002,Overall satisfaction of people who use service...,Total,67.6
4,Barking and Dagenham,Council,E09000002,Overall satisfaction of people who use service...,18-64,70.8
...,...,...,...,...,...,...
6522,Yorkshire and The Humber,Region,E12000003,Proportion of people using social care who rec...,18-64,83.6
6523,Yorkshire and The Humber,Region,E12000003,Proportion of people using social care who rec...,65 and over,95.7
6524,Yorkshire and The Humber,Region,E12000003,Proportion of those that received a short term...,Total,68.3
6525,Yorkshire and The Humber,Region,E12000003,Proportion of those that received a short term...,18-64,78.6
6526,Yorkshire and The Humber,Region,E12000003,Proportion of those that received a short term...,65 and over,66.7

In [117]:
#See the distinct values in order to avoid adding extra fields to the Homepage

print(nhs['Geographical Level'].unique(),'\n')
print(nhs['Disaggregation Level'].unique(),'\n')
print(nhs['Measure Group Description'].unique(),'\n')
print((nhs['Geographical Description'].unique()).shape)

['Council' 'Region' 'England']

['Total' '18-64' '65 and over' 'Female' 'Male']

['Adjusted Social care-related quality of life â€“ impact of Adult Social Care services'
 'Long-term support needs of older adults aged 65 and over met by admission to residential and nursing care homes, per 100,000 population'
 'Long-term support needs of younger adults aged 18-64 met by admission to residential and nursing care homes, per 100,000 population'
 'Overall satisfaction of people who use services with their care and support'
 'Proportion of adults in contact with secondary mental health services in paid employment'
 'Proportion of adults in contact with secondary mental health services who live independently, with or without support'
 'Proportion of adults with learning disabilities in paid employment'
 'Proportion of adults with learning disabilities who live in their own home or with their family'
 'Proportion of carers who receive direct payments'
 'Proportion of carers who receive self-directed support'
 'Proportion of older people 65 and over who were still at home 91 days after discharge from hospital into reablement/rehabilitation services effectiveness of the service'
 'Proportion of older people 65 and over who were still at home 91 days after discharge from hospital into reablement/rehabilitation services offered the service'
 'Proportion of people using social care who receive direct payments'
 'Proportion of people using social care who receive self-directed support'
 'Proportion of people who use services and carers who find it easy to find information about services'
 'Proportion of people who use services who feel safe'
 'Proportion of people who use services who have control over their daily life'
 'Proportion of people who use services who reported that they had as much social contact as they would like'
 'Proportion of people who use services who say that those services have made them feel safe and secure'
 'Proportion of those that received a short term service during the year where the sequel to service was either no ongoing support or support of a lower level'
 'Social care-related quality of life']

(161,)

In [118]:
#load the population dataset and keep only the rows that Code exists in ONS Codes from NHS dataset

population = pd.read_excel(r'Data/population.xls', sheet_name = 'MYE2 - Persons', skiprows = range(7))
population.drop(population[~population['Code'].isin(nhs['ONS Code'])].index, inplace=True)
population

,Code,Name,Geography,All ages,0,1,2,3,4,5,...,81,82,83,84,85,86,87,88,89,90+
3,E92000001,ENGLAND,Country,56550138,601913,625476,650226,671016,690816,689190,...,313081,294838,271063,246429,223058,195010,173861,156497,136917,521067
4,E12000001,NORTH EAST,Region,2680763,25311,26882,27877,28895,29813,29512,...,16170,15310,14109,12247,11364,9734,8646,7607,6658,22576
5,E06000047,County Durham,Unitary Authority,533149,4727,4923,5145,5326,5537,5627,...,3297,3094,2926,2405,2251,1919,1623,1373,1280,4120
6,E06000005,Darlington,Unitary Authority,107402,1057,1113,1173,1119,1230,1212,...,745,659,568,546,523,400,406,337,266,1031
7,E06000001,Hartlepool,Unitary Authority,93836,972,1008,1012,1036,1119,1055,...,525,554,513,428,421,336,329,274,204,848
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329,E06000027,Torbay,Unitary Authority,136218,1109,1273,1271,1333,1428,1466,...,1132,1017,956,895,773,757,663,572,514,1995
330,E06000054,Wiltshire,Unitary Authority,504070,4718,4943,5268,5426,5841,5834,...,3230,3034,2778,2572,2394,2033,1923,1657,1543,5625
331,E10000008,Devon,County,810716,6489,6901,7228,7557,7977,8050,...,5936,5662,5353,4707,4318,3822,3467,3221,2832,11351
340,E10000013,Gloucestershire,County,640650,5990,6431,6861,6875,7248,7281,...,4285,3832,3627,3201,3009,2628,2379,2094,1705,6658
347,E10000027,Somerset,County,563851,5064,5240,5609,5795,6076,6137,...,4064,3865,3603,3212,2863,2663,2333,2063,1870,7890

In [119]:
#drop the columns that count the population between 0 and 17 years old

labels = ['Name','Geography','All ages']
labels.extend([str(i) for i in range(18)])
population.drop( labels, axis=1, inplace=True)
population

,Code,18,19,20,21,22,23,24,25,26,...,81,82,83,84,85,86,87,88,89,90+
3,E92000001,606611,630456,653155,679487,694216,720400,725264,725111,745909,...,313081,294838,271063,246429,223058,195010,173861,156497,136917,521067
4,E12000001,28328,33383,35284,36140,35693,34704,34348,34051,35187,...,16170,15310,14109,12247,11364,9734,8646,7607,6658,22576
5,E06000047,5452,7548,8251,8244,7452,6748,6371,6450,6601,...,3297,3094,2926,2405,2251,1919,1623,1373,1280,4120
6,E06000005,1111,860,850,1038,1097,1167,1170,1216,1303,...,745,659,568,546,523,400,406,337,266,1031
7,E06000001,979,942,971,947,1000,1118,1126,1177,1204,...,525,554,513,428,421,336,329,274,204,848
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329,E06000027,1292,1008,1029,1063,1144,1261,1368,1311,1297,...,1132,1017,956,895,773,757,663,572,514,1995
330,E06000054,5478,4142,3684,4052,4262,5109,4973,4884,5164,...,3230,3034,2778,2572,2394,2033,1923,1657,1543,5625
331,E10000008,8046,9606,9920,9324,8927,8516,8326,8007,8308,...,5936,5662,5353,4707,4318,3822,3467,3221,2832,11351
340,E10000013,6886,6420,6222,6702,6611,6828,6894,6710,6980,...,4285,3832,3627,3201,3009,2628,2379,2094,1705,6658
347,E10000027,5674,4543,4335,4457,5014,5379,5493,5435,5752,...,4064,3865,3603,3212,2863,2663,2333,2063,1870,7890

In [120]:
#sum the population size in two groups (18-64 and 65+) and keep only these two columns

population['Sum 18-64'] = population.loc[:,[str(i) for i in range(18,65)]].sum(axis=1)
population['Sum 65 and over'] = population.loc[:,[str(i) for i in range(65,90)]+['90+']].sum(axis=1)
population['Total'] = population['Sum 18-64'] + population['Sum 65 and over']
population.drop([str(i) for i in range(18,90)]+['90+'],axis=1,inplace=True)
population

          Code  Sum 18-64  Sum 65 and over     Total
3    E92000001   33992831         10464019  44456850
4    E12000001    1609494           537631   2147125
5    E06000047     319588           111582    431170
6    E06000005      62638            22131     84769
7    E06000001      55357            18371     73728
..         ...        ...              ...       ...
329  E06000027      73591            37143    110734
330  E06000054     287438           110358    397796
331  E10000008     454804           207836    662640
340  E10000013     371668           139420    511088
347  E10000027     310589           141969    452558

[160 rows x 4 columns]

In [121]:
#load the IMD file

imd = pd.read_excel(r'Data/IMD.xlsx', sheet_name = 'IMD', usecols = ['Upper Tier Local Authority District code (2019)','IMD - Average rank '])
imd

    Upper Tier Local Authority District code (2019)  IMD - Average rank
0                                         E06000001             22581.98
1                                         E06000002             23729.10
2                                         E06000003             20348.40
3                                         E06000004             17541.72
4                                         E06000005             18284.63
..                                              ...                  ...
146                                       E10000029             14990.69
147                                       E10000030              7935.96
148                                       E10000031             12848.10
149                                       E10000032             12043.61
150                                       E10000034             14401.88

[151 rows x 2 columns]

In [122]:
#load annual pay, keep the columns and rows we need

annual_pay = pd.read_excel(r'Data/Anual Pay.xls', sheet_name = 'All', skiprows = range(4),usecols=['Code','Mean'])
annual_pay.dropna(inplace=True)
annual_pay.drop(annual_pay[~annual_pay['Code'].isin(nhs['ONS Code'])].index, inplace=True)
annual_pay

          Code   Mean
3    E92000001  32049
4    E12000001  26822
5    E06000005  27843
6    E06000001  25530
7    E06000002  24260
..         ...    ...
331  E06000053      x
332  E06000054  30312
333  E10000008  25723
342  E10000013  30273
349  E10000027  27104

[160 rows x 2 columns]

In [123]:
#create the final dataframe

final_data = nhs.merge(imd, left_on = 'ONS Code', right_on = 'Upper Tier Local Authority District code (2019)', how = 'left')
final_data.drop(['Upper Tier Local Authority District code (2019)'], axis = 1,inplace=True)
final_data = final_data.merge(annual_pay, left_on = 'ONS Code', right_on = 'Code', how = 'left')
final_data.drop(['Code'], axis = 1,inplace=True)
final_data.rename(columns = {'Mean' : 'Annual Pay Mean'}, inplace=True)

final_data

,Geographical Description,Geographical Level,ONS Code,Measure Group Description,Disaggregation Level,Measure Value,IMD - Average rank,Annual Pay Mean
0,Barking and Dagenham,Council,E09000002,Adjusted Social care-related quality of life â€“...,Total,0.422,25551.85,29128
1,Barking and Dagenham,Council,E09000002,Long-term support needs of older adults aged 6...,Total,621.0,25551.85,29128
2,Barking and Dagenham,Council,E09000002,Long-term support needs of younger adults aged...,Total,6.9,25551.85,29128
3,Barking and Dagenham,Council,E09000002,Overall satisfaction of people who use service...,Total,67.6,25551.85,29128
4,Barking and Dagenham,Council,E09000002,Overall satisfaction of people who use service...,18-64,70.8,25551.85,29128
...,...,...,...,...,...,...,...,...
6513,Yorkshire and The Humber,Region,E12000003,Proportion of people using social care who rec...,18-64,83.6,NaN,27985
6514,Yorkshire and The Humber,Region,E12000003,Proportion of people using social care who rec...,65 and over,95.7,NaN,27985
6515,Yorkshire and The Humber,Region,E12000003,Proportion of those that received a short term...,Total,68.3,NaN,27985
6516,Yorkshire and The Humber,Region,E12000003,Proportion of those that received a short term...,18-64,78.6,NaN,27985
6517,Yorkshire and The Humber,Region,E12000003,Proportion of those that received a short term...,65 and over,66.7,NaN,27985

In [124]:
population_list = []
for i, row in final_data.iterrows():
    if row['ONS Code'] in population['Code'].tolist():
        if row['Disaggregation Level']=='Total':
            population_list.append(population[population['Code']==row['ONS Code']]['Total'].iloc[0])
        elif row['Disaggregation Level']=='18-64':
            population_list.append(population[population['Code']==row['ONS Code']]['Sum 18-64'].iloc[0])
        elif row['Disaggregation Level']=='65 and over':
            population_list.append(population[population['Code']==row['ONS Code']]['Sum 65 and over'].iloc[0])
        else:
            population_list.append(None)
    else:
        population_list.append(None)
final_data['Population'] = population_list
final_data['Year'] = 2021
final_data

,Geographical Description,Geographical Level,ONS Code,Measure Group Description,Disaggregation Level,Measure Value,IMD - Average rank,Annual Pay Mean,Population,Year
0,Barking and Dagenham,Council,E09000002,Adjusted Social care-related quality of life â€“...,Total,0.422,25551.85,29128,150015.0,2021
1,Barking and Dagenham,Council,E09000002,Long-term support needs of older adults aged 6...,Total,621.0,25551.85,29128,150015.0,2021
2,Barking and Dagenham,Council,E09000002,Long-term support needs of younger adults aged...,Total,6.9,25551.85,29128,150015.0,2021
3,Barking and Dagenham,Council,E09000002,Overall satisfaction of people who use service...,Total,67.6,25551.85,29128,150015.0,2021
4,Barking and Dagenham,Council,E09000002,Overall satisfaction of people who use service...,18-64,70.8,25551.85,29128,130208.0,2021
...,...,...,...,...,...,...,...,...,...,...
6513,Yorkshire and The Humber,Region,E12000003,Proportion of people using social care who rec...,18-64,83.6,NaN,27985,3309673.0,2021
6514,Yorkshire and The Humber,Region,E12000003,Proportion of people using social care who rec...,65 and over,95.7,NaN,27985,1042314.0,2021
6515,Yorkshire and The Humber,Region,E12000003,Proportion of those that received a short term...,Total,68.3,NaN,27985,4351987.0,2021
6516,Yorkshire and The Humber,Region,E12000003,Proportion of those that received a short term...,18-64,78.6,NaN,27985,3309673.0,2021
6517,Yorkshire and The Humber,Region,E12000003,Proportion of those that received a short term...,65 and over,66.7,NaN,27985,1042314.0,2021

In [125]:
final_data.isna().sum()

Geographical Description        0
Geographical Level              0
ONS Code                        0
Measure Group Description       0
Disaggregation Level            0
Measure Value                   0
IMD - Average rank            443
Annual Pay Mean                37
Population                   2177
Year                            0
dtype: int64

In [126]:

final_data.replace({'x':None},inplace=True)
final_data

,Geographical Description,Geographical Level,ONS Code,Measure Group Description,Disaggregation Level,Measure Value,IMD - Average rank,Annual Pay Mean,Population,Year
0,Barking and Dagenham,Council,E09000002,Adjusted Social care-related quality of life â€“...,Total,0.422,25551.85,29128,150015.0,2021
1,Barking and Dagenham,Council,E09000002,Long-term support needs of older adults aged 6...,Total,621.0,25551.85,29128,150015.0,2021
2,Barking and Dagenham,Council,E09000002,Long-term support needs of younger adults aged...,Total,6.9,25551.85,29128,150015.0,2021
3,Barking and Dagenham,Council,E09000002,Overall satisfaction of people who use service...,Total,67.6,25551.85,29128,150015.0,2021
4,Barking and Dagenham,Council,E09000002,Overall satisfaction of people who use service...,18-64,70.8,25551.85,29128,130208.0,2021
...,...,...,...,...,...,...,...,...,...,...
6513,Yorkshire and The Humber,Region,E12000003,Proportion of people using social care who rec...,18-64,83.6,NaN,27985,3309673.0,2021
6514,Yorkshire and The Humber,Region,E12000003,Proportion of people using social care who rec...,65 and over,95.7,NaN,27985,1042314.0,2021
6515,Yorkshire and The Humber,Region,E12000003,Proportion of those that received a short term...,Total,68.3,NaN,27985,4351987.0,2021
6516,Yorkshire and The Humber,Region,E12000003,Proportion of those that received a short term...,18-64,78.6,NaN,27985,3309673.0,2021
6517,Yorkshire and The Humber,Region,E12000003,Proportion of those that received a short term...,65 and over,66.7,NaN,27985,1042314.0,2021

In [127]:
final_data.to_csv(r'Data/final_data.csv', index=False)

In [128]:

final_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6518 entries, 0 to 6517
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Geographical Description   6518 non-null   object
 1   Geographical Level         6518 non-null   object
 2   ONS Code                   6518 non-null   object
 3   Measure Group Description  6518 non-null   object
 4   Disaggregation Level       6518 non-null   object
 5   Measure Value              6518 non-null   object
 6   IMD - Average rank         6075 non-null   float64
 7   Annual Pay Mean            6323 non-null   object
 8   Population                 4341 non-null   float64
 9   Year                       6518 non-null   int64
dtypes: float64(2), int64(1), object(7)
memory usage: 560.1+ KB

In [129]:
print((final_data[final_data['Geographical Level']=='Region']['Geographical Description'].unique()))

(151,)
['East Midlands' 'East of England' 'London' 'North East' 'North West'
 'South East' 'South West' 'West Midlands' 'Yorkshire and The Humber']

In [130]:
[(i,i) for i in final_data[final_data['Geographical Level']=='Council']['Geographical Description'].unique()]

[('Barking and Dagenham', 'Barking and Dagenham'),
 ('Barnet', 'Barnet'),
 ('Barnsley', 'Barnsley'),
 ('Bath and North East Somerset', 'Bath and North East Somerset'),
 ('Bedford', 'Bedford'),
 ('Bexley', 'Bexley'),
 ('Birmingham', 'Birmingham'),
 ('Blackburn with Darwen', 'Blackburn with Darwen'),
 ('Blackpool', 'Blackpool'),
 ('Bolton', 'Bolton'),
 ('Bournemouth, Christchurch and Poole',
  'Bournemouth, Christchurch and Poole'),
 ('Bracknell Forest', 'Bracknell Forest'),
 ('Bradford', 'Bradford'),
 ('Brent', 'Brent'),
 ('Brighton and Hove', 'Brighton and Hove'),
 ('Bristol, City of', 'Bristol, City of'),
 ('Bromley', 'Bromley'),
 ('Buckinghamshire', 'Buckinghamshire'),
 ('Bury', 'Bury'),
 ('Calderdale', 'Calderdale'),
 ('Cambridgeshire', 'Cambridgeshire'),
 ('Camden', 'Camden'),
 ('Central Bedfordshire', 'Central Bedfordshire'),
 ('Cheshire East', 'Cheshire East'),
 ('Cheshire West and Chester', 'Cheshire West and Chester'),
 ('City of London', 'City of London'),
 ('Cornwall', 'Cornwall'),
 ('County Durham', 'County Durham'),
 ('Coventry', 'Coventry'),
 ('Croydon', 'Croydon'),
 ('Cumbria', 'Cumbria'),
 ('Darlington', 'Darlington'),
 ('Derby', 'Derby'),
 ('Derbyshire', 'Derbyshire'),
 ('Devon', 'Devon'),
 ('Doncaster', 'Doncaster'),
 ('Dorset', 'Dorset'),
 ('Dudley', 'Dudley'),
 ('Ealing', 'Ealing'),
 ('East Riding of Yorkshire', 'East Riding of Yorkshire'),
 ('East Sussex', 'East Sussex'),
 ('Enfield', 'Enfield'),
 ('Essex', 'Essex'),
 ('Gateshead', 'Gateshead'),
 ('Gloucestershire', 'Gloucestershire'),
 ('Greenwich', 'Greenwich'),
 ('Hackney', 'Hackney'),
 ('Halton', 'Halton'),
 ('Hammersmith and Fulham', 'Hammersmith and Fulham'),
 ('Hampshire', 'Hampshire'),
 ('Haringey', 'Haringey'),
 ('Harrow', 'Harrow'),
 ('Hartlepool', 'Hartlepool'),
 ('Havering', 'Havering'),
 ('Herefordshire, County of', 'Herefordshire, County of'),
 ('Hertfordshire', 'Hertfordshire'),
 ('Hillingdon', 'Hillingdon'),
 ('Hounslow', 'Hounslow'),
 ('Isle of Wight', 'Isle of Wight'),
 ('Isles of Scilly', 'Isles of Scilly'),
 ('Islington', 'Islington'),
 ('Kensington and Chelsea', 'Kensington and Chelsea'),
 ('Kent', 'Kent'),
 ('Kingston upon Hull, City of', 'Kingston upon Hull, City of'),
 ('Kingston upon Thames', 'Kingston upon Thames'),
 ('Kirklees', 'Kirklees'),
 ('Knowsley', 'Knowsley'),
 ('Lambeth', 'Lambeth'),
 ('Lancashire', 'Lancashire'),
 ('Leeds', 'Leeds'),
 ('Leicester', 'Leicester'),
 ('Leicestershire', 'Leicestershire'),
 ('Lewisham', 'Lewisham'),
 ('Lincolnshire', 'Lincolnshire'),
 ('Liverpool', 'Liverpool'),
 ('Luton', 'Luton'),
 ('Manchester', 'Manchester'),
 ('Medway', 'Medway'),
 ('Merton', 'Merton'),
 ('Middlesbrough', 'Middlesbrough'),
 ('Milton Keynes', 'Milton Keynes'),
 ('Newcastle upon Tyne', 'Newcastle upon Tyne'),
 ('Newham', 'Newham'),
 ('Norfolk', 'Norfolk'),
 ('North East Lincolnshire', 'North East Lincolnshire'),
 ('North Lincolnshire', 'North Lincolnshire'),
 ('North Somerset', 'North Somerset'),
 ('North Tyneside', 'North Tyneside'),
 ('North Yorkshire', 'North Yorkshire'),
 ('Northamptonshire', 'Northamptonshire'),
 ('Northumberland', 'Northumberland'),
 ('Nottingham', 'Nottingham'),
 ('Nottinghamshire', 'Nottinghamshire'),
 ('Oldham', 'Oldham'),
 ('Oxfordshire', 'Oxfordshire'),
 ('Peterborough', 'Peterborough'),
 ('Plymouth', 'Plymouth'),
 ('Portsmouth', 'Portsmouth'),
 ('Reading', 'Reading'),
 ('Redbridge', 'Redbridge'),
 ('Redcar and Cleveland', 'Redcar and Cleveland'),
 ('Richmond upon Thames', 'Richmond upon Thames'),
 ('Rochdale', 'Rochdale'),
 ('Rotherham', 'Rotherham'),
 ('Rutland', 'Rutland'),
 ('Salford', 'Salford'),
 ('Sandwell', 'Sandwell'),
 ('Sefton', 'Sefton'),
 ('Sheffield', 'Sheffield'),
 ('Shropshire', 'Shropshire'),
 ('Slough', 'Slough'),
 ('Solihull', 'Solihull'),
 ('Somerset', 'Somerset'),
 ('South Gloucestershire', 'South Gloucestershire'),
 ('South Tyneside', 'South Tyneside'),
 ('Southampton', 'Southampton'),
 ('Southend-on-Sea', 'Southend-on-Sea'),
 ('Southwark', 'Southwark'),
 ('St. Helens', 'St. Helens'),
 ('Staffordshire', 'Staffordshire'),
 ('Stockport', 'Stockport'),
 ('Stockton-on-Tees', 'Stockton-on-Tees'),
 ('Stoke-on-Trent', 'Stoke-on-Trent'),
 ('Suffolk', 'Suffolk'),
 ('Sunderland', 'Sunderland'),
 ('Surrey', 'Surrey'),
 ('Sutton', 'Sutton'),
 ('Swindon', 'Swindon'),
 ('Tameside', 'Tameside'),
 ('Telford and Wrekin', 'Telford and Wrekin'),
 ('Thurrock', 'Thurrock'),
 ('Torbay', 'Torbay'),
 ('Tower Hamlets', 'Tower Hamlets'),
 ('Trafford', 'Trafford'),
 ('Wakefield', 'Wakefield'),
 ('Walsall', 'Walsall'),
 ('Waltham Forest', 'Waltham Forest'),
 ('Wandsworth', 'Wandsworth'),
 ('Warrington', 'Warrington'),
 ('Warwickshire', 'Warwickshire'),
 ('West Berkshire', 'West Berkshire'),
 ('West Sussex', 'West Sussex'),
 ('Westminster', 'Westminster'),
 ('Wigan', 'Wigan'),
 ('Wiltshire', 'Wiltshire'),
 ('Windsor and Maidenhead', 'Windsor and Maidenhead'),
 ('Wirral', 'Wirral'),
 ('Wokingham', 'Wokingham'),
 ('Wolverhampton', 'Wolverhampton'),
 ('Worcestershire', 'Worcestershire'),
 ('York', 'York')]